body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.navbar-inverse{
	background-color: #be0012;
	color: white;
}

.navbar-inverse .navbar-brand{
	color: white;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.page-header{
	color: #be0012;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small{
	color: #890002
}


#boxA, #boxB, #boxC { 
  float:left; width:200px; height:200px; padding:10px; margin:10px;
}

#boxA { background-color: #DEDEDE; }
#boxB { background-color: #DEDEDE; }
#boxC { background-color: #DEDEDE; }

#drag, #drag2, #drag3 {
  width:50px; height:50px; padding:5px; margin:5px;
  -moz-user-select:none;
}

