.navbar-inverse{
	background-color: #be0012;
	color: white;
}

.navbar-inverse .navbar-brand{
	color: white;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.page-header{
	color: #be0012;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small{
	color: #890002
}